$color: #FF6969;
$opacity: 0.7;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');
.cart {
  padding: 32px 30px ;
  width: 573px;
  min-height: 100%;
  background: #FFFFFF;
  position: absolute;
  right: 0;
  &__text {
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 28px;
  }
  &__item, &__text {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #424242;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    &-button {
      width: 20px;
      height: 20px;
      background: none;
      border: none;
      cursor: pointer;
    }
    &-close {
      width: 100%;
      height: 100%;
    }
  }

  &__products {
    height: 390px;
    overflow-y: auto;
    margin-bottom: 40px;
    &-item {
      display: flex;
      margin-bottom: 43px;
      height: 97px;
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      line-height: 21px;
      color: #424242;
      align-items: center;
    }
    &-image {
      width: 138px;
      height: 97px;
      margin-right: 22px;
    }
    &-name {
      font-weight: 500;
      margin-bottom: 7px;
    }
    &-price {
      font-weight: 700;
      margin-bottom: 7px;
    }
    &-button {
      background: none;
      border: none;
      color: $color;
      cursor: pointer;
      transition: .2s;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      line-height: 16px;
      &:hover {
        color: rgba($color, $opacity)
      }
    }
  }
  &__form {
    display: block;
    &-blocks {
      display: flex;
    }
    &-block {
      margin-right: 23px;
      margin-bottom: 20px;
    }
    &-text {
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      line-height: 19px;
      color: black;
      font-weight: 400;
      margin-bottom: 11px;
    }
    &-input {
      width: 259px;
      height: 40px;
      padding: 12px 14px;
      background: #FFFFFF;
      border: 1px solid #898989;
      box-sizing: border-box;
      border-radius: 5px;
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      line-height: 19px;
      color: black;
      font-weight: 400;
      outline: none;
    }
    &-adress {
      width: 544px;
    }
    &-error {
      border: 1px solid #FF6969;
    }
    &-button {
      margin-top: 20px;
      font-size: 18px;
      line-height: 21px;
      font-weight: 400;
      color: #fff;
      border: none;
      background: $color;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
      border-radius: 5px;
      padding: 7px 19px;
      align-items: center;
      height: 40px;
      cursor: pointer;
      width: 190px;
      &:hover {
        background: rgba($color, $opacity);
        transition: .2s;
      }
    }
  }
  &__access, &__empty {
    margin-top: 200px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: #424242;
    &-text {
      margin-top: 21px;
    }
  }
  &__access {
    &-image {
      width: 140px;
      height: 109px ;
    }
  }
  &__empty {
    &-image {
      width: 99px;
      height: 99px;
    }
  }
}
.error {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: black;
  font-weight: 400;
  color: $color;
  display: none;
  &-view {
    display: block
  }
}