$color: #FF6969;
$title: #fff;
$opacity: 0.7;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
.header {
  display: flex;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
  width: 100%;
  &__right {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.logo {
  width: 103px;
  height: 39px;
  padding: 14px 33px 13px 29px;
  align-items: center;
  background: $color;
  display: flex;

  &__image {
    width: 39px;
    height: 33px;
    margin-right: 7px;
  }

  &__title {
    font-family: 'Roboto', sans-serif;
    color: $title;
    font-size: 20px;
    line-height: 23px;
    font-weight: 700;

  }

}

.menu {

  &__list {
    display: flex;
    height: 100%;
  }

  &__item {
    margin: 21px 20px;
    height: 10px;
    align-items: center;

  }

  &__link {
    color: #424242;
    font-size: 18px;
    line-height: 21px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-bottom: 20.5px;
  }

  &__link:hover {
    border-bottom: 3px solid rgba($color, $opacity);
    transition: .1s;
  }
}

.router-link-active {
  border-bottom: 3px solid $color;
  &:hover {
    border-bottom: 3px solid $color;
  }
}
.cart {
  align-items: center;
  padding: 19px 29px;
  position: relative;
  height: 100%;
  border: none;
  background: none;
  align-items: center;
  cursor: pointer;
  &__image {
    width: 21px;
    height: 21px;
  }
  &__length {
    width: 18px;
    height: 15px;
    padding-top: 3px;
    border-radius: 50%;
    background: #FF6969;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    position: absolute;
    text-align: center;
    align-items: center;
    top: 12px;
    right: 23px;
    color: white;
  }
}
.openCart {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  min-height: 100vh;
  width: 100%;
  overflow-y: auto;
}